header{
  font-size: medium;
  padding: 80px;
  font-family: sans-serif;
  float: center;
  margin-top: -45px
}
 .blog-roll{
   text-align: center;
   border: 5px solid purple; 
   margin-top: 10px;
   margin-bottom: 10px;
 }
 .navbar ul{
   padding: 50px;
 }

 header h1{
   text-align: center;
   font-style: italic;
   color: rgba(121, 84, 180, 0.459);
 }

 body{
   background-color: aquamarine
 }

 ul li{
   font-family: Lucida Sans;
   color: maroon;
   
 }
 .navbar{
   border: 3px solid brown; 
 }
 
 div img{
   float: right;
   padding-top: 170px;
   padding-left: 50px
 }

footer{
  font-size: medium;
  text-align: left;
  background-color: coral;
}
footer div{
  text-align: center;
}
header h2{
  float: right;
  
}
main span{
  float: left;
  padding-left: 400px;
  padding-top: 20px;
  font-size: 30px;
  font-style: oblique;
  font-family: Comic Sans Ms;
  color: orange;
}
header span{
  float: right;
  padding-right: 180px;
  
}
.blog-roll h4{
  padding-left: 80px;
  font-family: Comic Sans Ms;
  font-size: 20px;
  color: orange;
}
.banner-image{
  width: 100%;
  display: block;
}

.margin-auto{
  width: 960px;
  margin: 0 auto;

}
.clearfix::after{
  content:"";
  display:block;
  clear:both;
}
#badge{
 width: 400px;
 padding-top: 30px;
 padding-right: 50px;
}
#aboutme{
  font-family: Comic Sans Ms;
  font-size: 20px;
  color: orange;
}
#frontend{
  font-family: Comic Sans Ms;
  font-size: 20px;
  color: orange;
}
#hobbies{
  font-family: Comic Sans Ms;
  font-size: 20px;
  color: orange;
}